.hexagon-gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 149px;
  grid-gap: 16px;
  padding-bottom: 55px;
}

.hex {
  display: flex;
  position: relative;
  width: 180px;
  height: 200px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.hex.inner {
    -webkit-transform: scale(.95, .95);
    -moz-transform: scale(.95, .95);
    transform: scale(.95, .95);
    z-index:1;
}


.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex:nth-child(6) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex:nth-child(7) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hex:nth-child(8) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex:nth-child(9) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hex:nth-child(10) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}


section#our-services {
    padding: 100px 0px;
}

/******************************/

.about_border_section_1::before,
.about_border_section_1::after{
    top: -16.7% !important;
}

.about_border_section_2::after, .about_border_section_2::before {
    bottom: -27% !important;
    top: initial !important;
}

.about_border_section_2:before,
.about_border_section_2:after{
    box-shadow: 4px -1px 0 2px #f5f5f5 !important;

}


.history-area::before {
    background-color: #F7943D !important;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.85;
    top: 0%;
    left: 0%;
}

section#our-services::before {
    background-color: black !important;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.85;
    top: 0%;
    left: 0%;
}

.row:before{
    display: none !important;
}

.blackBg {
    background: #252525 !important;
}

.darkBg {
    background: #000000 !important;
}

.whiteBg {
    background: white !important;
}

.paddingBg {
    padding: 0px 20px;
}


.alcobrand {
    background: #e10500 !important;
}

#our-services .desc .text p {
    color: white;
}


section.about-section,
.history-area,
section#our-services,
.section-goals{
    position: relative;
}

section.about-section::after,
.history-area::after,
section#our-services::after,
.section-goals::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../media/about/about_back_1.jpeg) no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.07;
}


.history-area::after {

    opacity: 1 !important;
}

section#our-services::after {

    opacity: 0.5 !important;
}

.history-area::after{
    background: url(../media/about/about_back_2.jpg) no-repeat center center !important;
}

section#our-services::after{
    background: url(../media/about/about_back_3.jpg) no-repeat center center !important;
}

.section-goals::after{
    background: url(../media/about/about_back_4.jpeg) no-repeat center center !important;
}


/**************************************/

.section-goals {
	color: #202020;
	padding: 100px 0px;
}

.section-goals .header-section {
	margin-bottom: 34px;
}

.section-goals .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-goals .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #F7943D;
    border-radius: 3px;
}

.section-goals .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #504f93;
    border-radius: 3px;
}

.section-goals .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-goals .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
        height: 480px;
}

.section-goals .single-service .content {
	position: relative;
	z-index: 20;
}

.section-goals .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #F7943D;
    border: 6px solid #504f93;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-goals .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-goals .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #F7943D;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-goals .single-service:hover .icon {
	background-color: #fff;
	color: #F7943D;
}

.section-goals .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-goals .single-service:hover .title {
	color: #fff;
}

.section-goals .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color 0.3s;
    height: 210px;
    overflow: hidden; /* Hide scrollbar by default */
    padding-right: 10px;
    position: relative;
    color: #777 !important;
}

p.description.para_target {
    overflow: visible !important;
}

/* Show scrollbar only on hover */
.section-goals .single-service .description:hover {
    overflow: auto;
}

/* Custom scrollbar for WebKit browsers */
.section-goals .single-service .description::-webkit-scrollbar {
    width: 3px;
}

.section-goals .single-service .description::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.section-goals .single-service .description::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.section-goals .single-service .description::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.section-goals .single-service:hover .description {
	color: #fff;
}

.section-goals .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-goals .single-service:hover a {
	color: #fff;
}

.section-goals .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #F7943D;
	transition: background-color .3s;
}

.section-goals .single-service:hover a:after {
	background-color: #fff;
}

/*************************************/

.heading h1:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    background: #BABABA;
    margin-top: 4px;
    
}

.clear-fix {
    clear: both;
}

.hidden {
    visibility: hidden !important;
}

/* end global */

/* start of our services section */


/* OUR SEERVICES LEFT SIDE */

#our-services .desc {
    width: 60%;

}

#our-services .desc .heading h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: white;
}

#our-services .desc .text {
    color: #777777;
    position: relative;
}

/* OUR SERVICES RIGHT SIDE */

#our-services .services {
    width: 67%;
    float: left;
}

#our-services .services .column {
    float: left;
    margin-right: 60px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

#our-services .services .column .service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: transparent;
    transition: all 0.1s ease;
    margin-bottom: 7px;
    overflow: hidden;
}

#our-services .services .column .service:hover {
    background: #28282e;
    color: #fff;
}

#our-services .services .column .service:hover .service-icon {
    color: #fff;
}

#our-services .services .column .service .service-desc {
    transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#our-services .services .column .service .service-desc .service-icon  {
    font-size: 20px;
    margin-bottom: 5px;
    color: #f57469;
}

/* end of our services section */

/* media query */

@media all and (max-width: 967px) {
    #our-services {
        padding-top: 60px;
    }
    
    #our-services .desc {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    
    #our-services .services {
        width: 100%;
    }
    
    #our-services .services .column {
        transform: rotate(0deg);
        margin-right: 10px;
    }
    
    #our-services .services .column .service .service-desc {
        transform: rotate(0deg);
    }
}

/***********************************/
.contentLeft,
.contentRight{
    width: 100%;
}
@media (max-width: 768px) {

    .contentLeft {
        flex-wrap: wrap;
        gap: 9px !important;
    }

    .contentLeft .imgWrapper {
        width: 48%;
    }

}


.contentLeft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
        width: 90%;
    margin: 0px auto;
}

.contentLeft .imgWrapper{
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.contentLeft .imgWrapper img{
    width: 100%;
    height: 100%;
}

.contentLeft .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}
.contentLeft  .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.contentRight .content h4{
    font-size: 22px;
    font-weight: 400;
    color: #d35400;
}
.contentRight .content h2{
    font-size: 40px;
    color: #1e272e;
}
.contentRight .content p{
    font-size: 16px;
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 30px;
    color: #fff;
    background: #d35400;
    border-radius: 8px;
    user-select: none;
}


/******************************************/

.about-section{
	position:relative;
	padding:120px 0px;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
}

.sec-title h2 {
    font-size: 39px;
    color: black;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:150px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	float: right;
}

.content-column .text {
    width: 60%;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
	border:2px solid #f6943f;
    border-radius: 10px;
}

.about-section .image-column .inner-column .image{
	position:relative;
}



.about-section .image-column .inner-column .image img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 420px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .about-section .image-column .inner-column .image img {
        height: 420px;
    }

    .content-column .text {
        width: 90%;
    }
    
         .about_border_section_2::after, 
    .about_border_section_2::before {
        bottom: -31.65% !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
     .contentLeft .row .imgWrapper {

        height: auto !important;
    }
    .about-section .image-column .inner-column {
    padding: 20px 20px 0px 0px;

}
    
    .about-section .image-column .inner-column .image img {
        height: 520px;
    }

    .content-column .text {
        width: 100%;
    }

}

@media (min-width: 480px) and (max-width: 768px) {

    .sec-title h2 {
        font-size: 35px;
    }

    .about-section .image-column .inner-column .image img {
        height: 520px;
    }

    .content-column .text {
        width: 100%;
    }

    .about-section .image-column .inner-column {
        float: none;
    }

    .contentLeft .row .imgWrapper {

        height: auto !important;
    }

}
@media (min-width: 360px) and (max-width: 480px) {

    .about-section .image-column .inner-column {
        float: none;
    }
    
    .content-column .text {
    width: 100%;
}

}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#d7a449;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #d7a449;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #d7a449;
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #f6943f;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}



/************** section 2  *****************/ 

h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*==========================
      history area
===========================*/
.history-img {
    text-align: center;
    height: 390px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}



.section-title,
.column-title {
  font-size: 36px;
  font-weight: 300;
  color: #101010;
  margin-bottom: 70px;
}

.section-title span,
.column-title span {
  font-weight: 700;
    color: white;
}

.title-small {
  font-size: 30px;
  font-weight: 700;
}

.column-title {
  margin-bottom: 30px;
    font-weight: 500;
}

.column-title-large {
  font-size: 48px;
  margin-bottom: 50px;
}

.ts-title {
  font-size: 24px;
  font-weight: 600;
}

.title-light {
  font-weight: 300;
}

.title-small-regular {
  font-weight: 400;
}

.black-color {
  color: #101010 !important;
}

.title-white {
  color: #fff;
}

.title-bg-small {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    color: #fff;
    background: #101010;
    display: inline-block;
    padding: 3px 18px;
    text-transform: uppercase;
}
.primary-bg {
  background: #f7943d;
    border-radius: 5px;
}
.history-area {
      padding: 100px 0;
    position: relative;
}

#history-slid .history-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 15px;
    height: 100%;
}


.history-content p:last-child {
    margin: 0px;
}

#history-slid .carousel-inner {
    margin-bottom: 45px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

#history-slid .carousel-item {
  background: #fff;
}


#history-slid .carousel-indicators {
  position: relative;
  left: 0%;
  z-index: 5;
  width: 100%;
  padding-left: 0;
  margin-left: 0%;
  text-align: center;
  list-style: none;
}

#history-slid .carousel-indicators:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 15px;
  background-color: white;
  z-index: -1;
}

#history-slid .carousel-indicators li {
  display: inline-block;
  width: 70px;
  height: 35px;
  line-height: 35px;
  margin: 0 35px;
  text-indent: 0px;
  cursor: pointer;
  color: #101010;
  border: 0px solid #fff;
  border-radius: 0px;
  margin-top: 40px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#history-slid .carousel-indicators li:before {
  position: absolute;
  top: -30px;
  left: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: "";
  border-radius: 50%;
  background: #101010;
  left: calc(50% - 8px);
}

#history-slid .carousel-indicators li.active {
  line-height: 35px;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
  color: #f7943d;
  background: #fff;
    border-radius: 5px;
}

#history-slid .carousel-indicators li.active::before {
  background: white;
}

#history-slid .carousel-indicators li.active:after {
  position: absolute;
  top: -34px;
  left: 44%;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  margin-left: -7px;
  border: 1px solid white;
}



/********************** Media Query Start **************************/

@media (min-width: 1200px) {
        .about_border_section_2::after, 
       .about_border_section_2::before {
        bottom: -31.49% !important;
        top: initial !important;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {

    .hex {
        width: 145px;
        height: 160px;

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    
    .about_border_section_1::before, .about_border_section_1::after {
    top: -12.5% !important;
}
    
        .about_border_section_2::after, .about_border_section_2::before {
        bottom: -22.39% !important;
        top: initial !important;
    }

    #history-slid .history-content {
        padding: 20px;
    }

    #history-slid .carousel-indicators li {
        margin: 40px 25px;
    }

    #history-slid .carousel-indicators li:before {
        left: calc(50% - 7px);
    }

    #our-services .desc .text p {
        width: 100%;
    }

    .hex {
        display: flex;
        position: relative;
        width: 164px;
        height: 175px;
    }
    
    .hexagon-gallery {
    grid-auto-rows: 128px;
    }

}

@media (min-width: 968px) and (max-width: 991px) {
    

        .about_border_section_2::after, .about_border_section_2::before {
        bottom: -22.8% !important;
        top: initial !important;
    }


}


@media (min-width: 480px) and (max-width: 767px) {
    
    .about_border_section_1::before, .about_border_section_1::after {
    top: -12.1% !important;
}
    .about_border_section_2::after, .about_border_section_2::before {
    bottom: -23.6% !important;
    top: initial !important;
}
    
    .section-goals .single-service .description,
    .section-goals .single-service {
        height: auto;
    }
    
    .section-goals .single-service .description {
        margin: 0px !important;
    }
    
    #history-slid .history-content {
        padding: 20px;
    }

    #history-slid .carousel-indicators li {
        margin: 40px 20px;
    }

    #history-slid .carousel-indicators li:before {
        left: calc(50% - 6px);
    }
    
       #our-services .desc .text p {
        width: 100%;
    }

    .hex {
        display: flex;
        position: relative;
        width: 100%;
        height: 140px;
    }
    
    .hexagon-gallery {
    grid-auto-rows: 104px;
    grid-gap: 7px;
    }

}

@media (min-width: 480px) and (max-width: 527px) {
 
#history-slid .carousel-indicators li:before {
        left: calc(50% - 5px);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    
    .section-goals .single-service .description,
    .section-goals .single-service {
        height: auto;
    }
    
    .section-goals .single-service .description {
        margin: 0px !important;
    }

    .hex:nth-child(3) {
        grid-row-start: 2;
        grid-column: 1 / span 2;
    }

    .hex:nth-child(4) {
        grid-row-start: 2;
        grid-column: 3 / span 2;
    }

    .hex:nth-child(5) {
        grid-row-start: 2;
        grid-column: 5 / span 2;
    }

    .hex:nth-child(6) {
        grid-row-start: 3;
        grid-column: 2 / span 2;
    }

    .hex:nth-child(7) {
        grid-row-start: 3;
        grid-column: 4 / span 2;
    }

    .hex:nth-child(8) {
        grid-row-start: 4;
        grid-column: 1 / span 2;
    }

    .hex:nth-child(9) {
        grid-row-start: 4;
        grid-column: 3 / span 2;
    }


    .hex:nth-child(10) {
        grid-row-start: 4;
        grid-column: 5 / span 2;
    }

    .sec-title,
    .about-section .content-column .text,
    .history-content p:last-child,
    .heading,
    #our-services .desc .text p,
    .section-title, .column-title{
        text-align: center;
    }

    .heading h1:after {
        margin: 0px auto;
    }

    #history-slid .history-content {
        justify-content: center;
        align-items: center;
    }

    #history-slid .history-content {
        padding: 20px;
    }

    #history-slid .carousel-indicators li {
        margin: 40px 5px;
    }

    .section-title,
    .column-title {
        font-size: 30px;
    }

    #history-slid .carousel-indicators li:before {
        left: calc(50% - 7px);
    }

    #our-services .desc .text p {
        width: 100%;
    }

    .hex {
        width: 100%;
        height: 125px;
        display: block;
    }

    .hexagon-gallery {
        grid-auto-rows: 91px;
        grid-gap: 10px;
        grid-template: none;
    }
    
    .hex.inner img {
    scale: 1.45;
}

}

@media (min-width: 320px) and (max-width: 407px) {


   #history-slid .carousel-indicators li:before {
        left: calc(50% - 6px);
    }

}
