.wrap-section-border {
    padding-top: 30px;
    overflow: hidden;
        margin-top: -30px;

}



.bg-inner {
    position: relative;
    z-index: 10;
}

.section-bg {
    position: relative;
}

.section-bg_second {
    background-color: #181818;
}

.section-bg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.1;
    content: '';
}

.section-bg .bg-inner {
    padding-top: 60px;
    padding-bottom: 30px;
}

.section-bg-2:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.1;
}

.service > .section-bg:after {}

.facts > .section-bg:after {

    background-position: center -214px;
}

.section_mod-e:before {
    bottom: 103px !important;

}


.section_default {
    position: relative;
    padding-top: 90px;
    padding-bottom: 168px;
}

.section_mod-a {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.section_mod-a:before {
    bottom: 0px;
    background: url(../media/bg/7.jpg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background-size: cover;
}

.section_mod-a .ui-title-inner {
    margin-top: 0;
}

.section_mod-a .brand-link {
    margin-top: 55px;
}

.section_mod-b {
    height: 678px;
}

.section_mod-b:after {
    background-image: url('../media/bg/2.jpg');
}

.section_mod-c:after {
    background-image: url('../media/bg/3.jpg');
}


.section_mod-d .ui-subtitle-block_mod-b {
    margin-bottom: 65px;
}

.section_mod-d .link {
    margin-top: 23px;
}

.section_mod-d .decor-1 + .link {
    margin-top: 0;
}

.section_mod-e:after {
    background-image: url('../media/bg/5.jpg');
}

.section_mod-f:after {
    background-image: url('../media/bg/6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section_mod-g:after {
    background-image: url('../media/bg/7.jpg');
}



.section_mod-h {
    padding-bottom: 100px;
}



.section_mod-e:before {
    background: url(../media/bg/7.jpg);
    background-size: 125% 245%;
    background-position: 17% center;
    background-repeat: no-repeat;
    z-index: -1;
}

.section_mod-0:before {
    background: url(../media/bg/7.jpg);
    background-size: 102% 171%;
    background-position: center 2%;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.section-bg-0:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.05;
    margin-top: -109px;
}

.section_mod-i {
    padding-top: 100px;
    padding-bottom: 45px;
}

.section_brands {
    margin-top: 100px;
    padding-bottom: 0;
}

.section_brands .ui-title-inner {
    margin-top: 40px;
    margin-bottom: 0;
}

.section_list-post {
    padding-top: 105px;
    padding-bottom: 105px;
}

.section_list-post .ui-subtitle-block_mod-b {
    margin-bottom: 56px;
}

.section_list-post .ui-title-block {
    margin-top: 0;
}

.section_map {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_map:before {
    bottom: 0px;
    background: url('../media/bg/7.jpg') no-repeat 100% 100%;
    z-index: -1;
    background-size: cover;
}

.section_map .ui-title-inner {
    margin-top: 43px;
    margin-bottom: 25px;
}

.section_letter {
    color: #fff;
}

.section_letter .bg-inner {
    padding-top: 28px;
    padding-bottom: 48px;
    overflow: hidden;
    ;
}

.section_letter:after {
    background-image: url('../media/bg/12.jpg');
}