/*** header ***/
.yamm .nav > li > a,
.main-slider__subtitle,
.capramIntro p,
.ui-subtitle-block_mod-a,
.list-services__description,
.ui-description,
#aboutUs p,
a.link,
.main-slider__btn_inner,
.capramIntro p,
.ui-subtitle-block_mod-a,
h3.ui-title-inner.fontChange span,
.list-progress__name,
.ui-description,
#aboutUs p,
.list-services__description,
h3.list-services__title,
a.link,
#contact.section_map .ui-title-inner,
.footer__name{
  font-family: "Oswald", serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

.yamm .nav > li > a {
    padding: 14px 13px 23px;
    font-size: 17px;
    text-align: right;
    direction: rtl;
}

.main-slider__subtitle,
.capramIntro p,
.ui-subtitle-block_mod-a,
.list-services__description,
.ui-description,
#aboutUs p,
a.link{

    direction: rtl;
}

.main-slider__btn_inner {
    font-weight: 600;
    font-size: 16px;
}

.capramIntro p {
    font-weight: 600;
 
}

.ui-subtitle-block_mod-a,
h3.ui-title-inner.fontChange span{
    font-size: 17px;
    color: white;
}

h3.ui-title-inner.fontChange span{

    color: black;
}

.list-progress__name {
    font-size: 14px !important;
}

.ui-description,
#aboutUs p{
    font-size: 16px;
}

.list-services__description,
h3.list-services__title{
    font-weight: 600;
}

a.link{

    width: 100%;
     box-shadow: 4px 0 0 0 #F7943D !important;
    font-size: 17px;
}

#contact.section_map .ui-title-inner {
    font-size: 17px;
}

.footer__name {
    font-weight: 600;
    font-size: 18px;
}

.fixWidthInArabic_v1 {
    text-align: right;
    width: 44%;
}

.fixWidthInArabic_v0 {
    width: 21%;
}

.main-slider__subtitle {
    text-align: right;
}

.about-section .content-column {
    order: 2;
}

.about-section .image-column {
    order: 1;
}

.about-section .capcompanies {
    order: 3;
}

.about-section .image-column .inner-column {
    float: left;
}

.inner-column {
    text-align: right;
}

.about-section .content-column .text {
    text-align: right;
    direction: rtl;
    float: right;
}

#history-slid .history-content {
    align-items: end;
}

#our-services .col-lg-4 {
    order: 2;
}

#our-services .col-lg-8 {
    order: 1;
}

#our-services .desc {
    text-align: right;
    direction: rtl;
    float: right;
}

#our-services .desc .text p {
    width: 100%;
    color: white;
    font-size: 15px;
}

#our-services .desc {
    width: 70%;
}

.single-service {
    direction: rtl;
}

.history-content p:last-child {
    direction: rtl;
    text-align: right;
}

.header-section p.description {
    direction: rtl;
}

@media (max-width: 967px) {
    #our-services .desc {
        text-align: center !important;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        float: none !important;
    }

    .heading h1:after {
        margin: 15px auto;
        text-align: center;
    }
}