
.list-services.fixPad {
    padding-bottom: 22px !important;
}

.card-badge::after{
  position: absolute;
  content: 'Certificat';
  top: 7px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #F7943D;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-right: 16px;
}

.card-badge::after{

  content: 'Certificate' !important;

}